{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}" />
    <title>Профиль пользователя</title>
</head>
<body>
    <a href="{% url 'main:main' %}" class="back-btn">Назад</a>
    <div class="profile-container">
        <div class="profile-header">
            <div class="profile-photo">
                <img src="https://i.pinimg.com/originals/a1/7b/36/a17b36ca9f2d47edf2b7186c08350905.jpg" alt="Фото профиля">
            </div>
            <div class="profile-info">
                <h1 class="profile-name">{{ last_name }} {{ name }}</h1>
            </div>
        </div>
        <div class="info-section">
            <h2>Информация о пользователе</h2>
            <div class="info-item">
                <span class="info-label">Почта:</span>
                <span class="info-value">{{ user.email }}</span>
            </div>
            <div class="info-item">
                <span class="info-label">Номер телефона:</span>
                <span class="info-value">{{ phone }}</span>
            </div>
            <div class="info-item">
                {% if role == 'ST' %}
                <span class="info-label">Группа студента:</span>
                <span class="info-value">{{ group }}</span>
                {% else %}
                <span class="info-label">Группы преподавателя:</span>
                <span class="info-value">{{ group }}</span>
                {% endif %}
            </div>
        </div>
        <div class="subjects-section">
        </div>
        <a href="{% url 'account:logout' %}" class="logout-btn">Выйти из аккаунта</a>
    </div>
</body>
</html>