{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/course.css' %}"/>
    <title>Курсы</title>
</head>
<body>
<header>
    <div class="header-left">
        <h1>Список курсов</h1>
        <a href="{% url 'main:main' %}" class="nowbar1">Главная</a>
        <a href="{% url 'schedule:courses_list' %}" class="nowbar2">Курсы</a>
        <a href="{% url 'main:main' %}" class="nowbar1">Расписание</a>
    </div>
    <div class="header-right">
        <div class="notifications">
            <img src="https://img.icons8.com/?size=100&id=LaPTWTgsJCs1&format=png&color=FFFFFF" alt="Уведомления"
                 width="24" height="24">
        </div>
        <div class="profile">
            <div class="avatar"></div>
        </div>
    </div>
</header>
<main>
    <section class="courses-section">
        <h2>Курсы</h2>
        <a href="{% url 'schedule:create_course' %}" class="create-course-btn">Создать курс</a>
    </section>
    <div class="courses">
        {% for course in courses %}
        <div class="course-card">
            <h3>{{ course.title }}</h3>
            <p><strong>Преподаватель:</strong> {{ last_name }} {{ name }} {{ surname }}</p>
            <button class="btn expand-btn">Развернуть</button>
            <div class="course-description">
                <p>{{ course.description }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    </section>
</main>

<script>
    const expandButtons = document.querySelectorAll('.expand-btn');

    expandButtons.forEach(button => {
        button.addEventListener('click', () => {
            const description = button.nextElementSibling;
            description.classList.toggle('show');
            button.textContent = description.classList.contains('show') ? 'Свернуть' : 'Развернуть';
        });
    });
</script>
</body>
</html>