{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/create_lesson.css' %}"/>
    <title>Создать занятие</title>
</head>
<body>
<header>
    <div class="header-left">
        <h1>Расписание</h1>
        <a href="{% url 'main:main' %}" class="nowbar1">Главная</a>
        <a href="{% url 'schedule:courses_list' %}" class="nowbar2">Курсы</a>
        <a href="{% url 'main:main' %}" class="nowbar1">Расписание</a>
    </div>
    <div class="header-right">
        <div class="profile">
            <div class="avatar"></div>
        </div>
    </div>
</header>
<main>
    <section class="edit-form">
        <h2>Создание занятия</h2>
        <form method="POST">
            <div class="form-group">
                {% csrf_token %}
                {{ form.as_p }}
            </div>
            <div class="form-buttons">
                <button type="submit" class="btn btn-save">Сохранить</button>
            </div>
    </section>
</main>
</body>
</html>