{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Умное расписание курсов</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
</head>
<body>
<header>
    <div class="header-left">
        <h1>Ваши занятия</h1>
        <a href="{% url 'main:main' %}" class="nowbar1">Главная</a>
        <a href="{% url 'schedule:courses_list' %}" class="nowbar2">Курсы</a>
        <div class="nowbar3">Расписание</div>
    </div>
    <div class="header-right">
        {% if role == 'T' %}
        <a href="{% url 'schedule:create_lesson' %}" class="add-event-btn">Добавить событие</a>
        {% endif %}
        <div class="notifications">
            <a href="{% url 'schedule:notifications_list' %}"><img
                    src="https://img.icons8.com/?size=100&id=LaPTWTgsJCs1&format=png&color=FFFFFF" alt="Уведомления"
                    width="24" height="24"></a>
        </div>
        <div class="profile">
            {% if request.user %}
            <a href="{% url 'account:profile' %}" class="avatar"></a>
            {% else %}
            <a href="{% url 'account:auth' %}">Авторизоваться</a>
            {% endif %}
        </div>
    </div>
</header>
<main>
    <section class="calendar">
        <h2>Календарь на неделю</h2>
        <div class="week">
            {% for day in date %}
            <div class="day" data-day="{{ day.date_str }}">
                <h3>{{ day.day }}</h3>
                <p>{{ day.date }}</p>
            </div>
            {% endfor %}
        </div>
    </section>
    <section class="subjects">
        {% for lesson in lessons %}
        <div class="subject-card show" data-days="{{ lesson.year }}">
            <h3>{{ lesson.title }}</h3>
            <p><strong>Продолжительность:</strong> {{ lesson.duration }} </p>
            <p><strong>Преподаватель:</strong></p>
            <p><strong>Аудитория:</strong> {{ lesson.classroom }} </p>
            <p><strong>Направление:</strong> {{ lesson.flow }}</p>
            {% if lesson.comment != "" %}
            <p><strong>Комментарий преподавателя:</strong> {{ lesson.comment }}</p>
            {% endif %}
            {% if role == 'T' %}
            <a href="{% url 'schedule:update_lesson' lesson.id %}" class="edit-lesson-btn">Редактировать</a>
            <a href="{% url 'schedule:delete_lesson' lesson.id %}" class="delete-lesson-btn">Удалить</a>
            {% endif %}
        </div>
        {% endfor %}
    </section>
</main>

<script>
    const days = document.querySelectorAll('.day');
    const subjectCards = document.querySelectorAll('.subject-card');

    days.forEach(day => {
        day.addEventListener('click', () => {
            // Убрать активный класс со всех дней
            days.forEach(d => d.classList.remove('active'));
            // Добавить активный класс к выбранному дню
            day.classList.add('active');

            const selectedDay = day.getAttribute('data-day');

            // Скрыть все карточки
            subjectCards.forEach(card => {
                card.classList.remove('show');
            });

            // Показать карточки для выбранного дня
            subjectCards.forEach(card => {
                if (card.getAttribute('data-days') === selectedDay) {
                    card.classList.add('show');
                }
            });
        });
    });
</script>
</body>

</html>


